# Django settings
SECRET_KEY=12345****
DEBUG=False
ALLOWED_HOSTS=tracking-orders.cubinez.ru,localhost,127.0.0.1,web

# Database settings
DB_NAME=orders_db
DB_USER=user_orders
DB_PASSWORD=12345*****
DB_HOST=localhost
DB_PORT=5432

# Superuser
CREATE_SUPERUSER=true
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=cubinez85@cubinez.ru
DJANGO_SUPERUSER_PASSWORD=12345*****
